@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body
{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	height: 900px;
}
nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;  
	padding: 0px 100px;
	box-sizing: border-box;
	transition: 0.5s;
background:#e84118;
 }

nav.black{
	background: rgba(0,0,0,0.8);
	height: 70px;
	padding: 0px 50px;
}
nav .logo{
	float: left;
}

nav .logo img{
height: 60px;
transition: .5s;
}

nav .black .logo img
{
	height: 60px;
}
nav ul{
float: right;
margin:0;
padding: 0;
display: flex; 
}

nav ul li
{
list-style: none;

}

nav .black ul li a
{
	color:#ffffff;
}
nav ul li a
{
	line-height: 60px;
	color: #f3ff93;
	padding: 5px 20px;/**/
	font-family: 'Roboto', sans-serif;
text-decoration: none;
text-transform: uppercase;
transition: .5s;
}

nav ul li a.active,
nav ul li a:hover{
color: #fff;
background:#ff0b55;
}

.responsive-bar
{
	display: none;
}

.hero{
position: absolute;
width:1140px;
top: 55%;
left: 7%;

}
.btn{
	border:1px solid #e67e22;
	padding: 10px 30px;
color: #e67e22;
text-decoration: none;
border-radius: 12px;
margin-right: : 12px;
}

.btn-half
{
background-color: #e67e22;
color: white;
}
.btn-full:hover{

background-color: #e67e22;
color: white;
transition:all 0.5s ease-in;
}

.button-awesome{
	margin-top: 20px;
}
h1
{
	color: white;
}

@media (max-width:400px)
{
	.btn{
		display: block;
		width:60px;
	}
}

@media (max-width:768px)
{
	.responsive-bar
	{
		display: block;
		width: 100%;
	height: 60px;
	background:#262626;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 20px;
	box-sizing: border-box;
	z-index:1;
	}
	.responsive-bar .logo img{
	float: left;
height: 50px;
	}
		nav.logo{
		display: none;
	}
	nav ul{
	position: absolute;
	width: 100%;
	top: 60px;
	left:0;
	background: #262626;
	float: none;
	display: none;
	} 
	nav ul li a{
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
	line-height: 30px !important;
	color: #fff;
	}
	nav,nav.black {
		background: #262626;
		height: 60px;
		padding: 0px;
	position: fixed;
	}
	
   .responsive-bar .menu h4{
		float: right;
		color: #fff;
		margin:0;
		padding: 0;
		line-height: 50px;
		cursor: pointer;
		text-transform: uppercase;
	}

   nav ul.active{
   	display: block;
   }	
	nav ul li{
		width: 100%;
	}
	

}